@model IEnumerable<Demo_Redline_ASPMVC.WebApp.Models.Genre>

@{
    ViewBag.Title = "Movie site";
}


<div class="row">
    <div class="col-md-3">
       <h3>Liste des genres</h3>
       <ul>
       @foreach (var genre in Model)
       {
          <li>@genre.Name</li>
       }
       </ul>
    </div>
</div>